<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookBorrower.data.Properties.Settings.BookBorrowDBCoonnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Codes\BookBorrower\BookBorrower\BookBorrower.data\Database\BookBorrowDB.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>